main.site-main
	//- .background-web
	//- 	img(src="../img/assets/bg-lines-green.svg", alt="background web")
	.text-carousel
		.item
			h2 Ваши апартаменты <br> в Москве
		.item
			h2 В историческом <br>доме-книжке на Новом Арбате
		.item
			h2 Панорамные виды <br>на город
		.item
			h2 Полноценная кухня <br>в каждом номере
		.item
			h2 Зовите гостей, готовьте <br>ужины, проводите встречи
		.item
			h2 Оставайтесь на день, <br>неделю или месяц
	
	include ../booking

