.is-scale-1x {
	transform: scale(1);
}

.is-opacity {
	opacity: 1;
}

.is-desaturate {
	color: mix(white, ac(text), 50%);	
}

.is-sticky {
	background-color: ac(black);
	z-index: 111;
	& ul li a {
		// color: ac(text) !important;
	}
}

.is-always-sticky {
	background-color: ac(white);
	top: 0;
	& ul li a {
		color: ac(text) !important;
	}
}

.is-hide {
	display: none;
}

.is-hide-absolute {
	position: absolute;
	left: -9999px;
	top: -9999px;
	display: flex;
	flex-direction: row-reverse;
	@media(min-width: $b-medium) {
		position: relative;
		left: 0;
		top: 0;
	}
}