include partials/head
body
	#site-wrapper.site-about.page-bg 
		include partials/rooms/header
		include partials/about/main
		.about-footer-wrapper
			include partials/booking
			include partials/footer