include partials/head
body
	//- .loader
	//- 	.preloader
	//- 		.lines
	//- 			.line.line-1
	//- 			.line.line-2
	//- 			.line.line-3
	//- 		.loading-text загрузка

	#site-wrapper.start-page-bg.start-page
		include partials/start-page/header
		include partials/start-page/main
		include partials/footer