main.site-main-about
	.main-content-about
		//- .bg-image-svg
		//- 	img(src="/img/assets/icons/bg-lines.svg", alt="background pattern")
		//- .bg-image-svg-middle
		section.about-item.welcome
			headgroup
				h2 Апарт-отель Page 20 находится в знаменитом «доме-книжке» на Новом Арбате. Это здание в стиле постмодерн было построено в 60-х годах и стало одним из главных символов Нового Арбата. Сегодня, после проведения капитальной реновации, интерьеры здания преобразились и соответствуют самым современными представлениям о безопасности и комфорте, а обновленную «книжку» назвали The Book.

			picture.picture-about
				img(src="img/photogallery/about/1.jpg", alt="room preview")

			picture.picture-apart
				img(src="img/photogallery/about/3.jpg", alt="room preview")

			.text
				div
					h2 Расположение
						a(href="#").arrow
				p.
					Приехав в Page 20, вы будете жить в самом центре Москвы. Пройдитесь по яркому, парадному Новому Арбату со множеством кафе и магазинов или исследуйте тихие, укромные переулки района, отлично сохранившие дух истории. Прогулка до Кремля, Храма Христа Спасителя, Красного Октября или Пушкинского музея изобразительных искусств займет не больше 20 минут. А поездка до «Москва-Сити» или парка «Зарядье» – не больше 15 минут. (Добавить кнопку с переходом в раздел «Локация». Кнопку назвать «Посмотреть на карте»)  
		
		section.about-item.quote
			quote.
				Мы задумали Page 20 как экологичный апарт-отель нового формата – дизайнерские номера и современный комфорт сочетаются с принципами разумного потребления.
			picture
				img(src="img/photogallery/about/4.jpg", alt="room preview")
		
		section.about-item.about-description
			picture.picture-comfort
				img(src="img/photogallery/about/5.jpg", alt="room preview")
			
			.text-comfort
				h2 Номера
					a(href="#").arrow
				p.
					Номера в Page 20 – это полноразмерные апартаменты от 25 до 65 м2 с кухней. Мы предусмотрели всю бытовую технику и оборудование, которые могут понадобиться для комфорта всех наших гостей без исключения. Теперь, остановившись в отеле, вы можете организовать вечер с гостями или деловую встречу прямо в номере, поработать c удобством, сделать зарядку или заняться йогой. Кроме того, у нас будет удобно жить с детьми. Также мы рады гостям, путешествующими со своими питомцами.
			 
			picture.picture-interior
				img(src="img/photogallery/about/6.jpg", alt="room preview")

			.text-interior
				h2 Дизайн
					a(href="#").arrow
				p.
					Для оформления интерьеров мы выбрали органичный духу места стиль модерн середины XX века. Его сдержанная роскошь была характерна для западных стран, отголоски доносились до СССР, поэтому ключевые мотивы эстетики модерна отлично вписались в «дом-книжку». Мы подобрали «штучную» винтажную мебель и освещение, настоящие иконы дизайна и оригинальные предметы декора, поэтому каждый номер в отеле уникален.

			//- picture.picture-unique
			//- 	img(src="img/photogallery/about/7.jpg", alt="room preview")
			
			//- quote.quote-desc.
			//- 	Все наши номера уникальны – мы подобрали винтажную мебель и освещение, настоящие иконы дизайна и оригинальные предметы декора.
		
			//- p.unique-text.
			//- 	В Page 20 нет ни одного повторяющегося номера, поэтому если вам важно, чтобы в ваших апартаментах был конкретный интерьер с представленных фотографий, пожалуйста, во время бронирования обсудите это со службой приема и размещения.

		section.eco
			.eco-description
				h2 Экологичность <br> и устойчивость
				p.
					Выбирая Page 20, вы можете быть уверены – мы позаботились о том, чтобы наш отель не оказывал негативного влияния на окружающую среду.
					
			.footnote
				.item
					img(src="img/assets/icons/i-eco-detergents.svg", alt="footnote icon")
					p Мы используем только #[span экологичные средства] для уборки.
			
				.item
					img(src="img/assets/icons/i-eco-reuse.svg", alt="footnote icon")
					p #[span Мы отказались от одноразовой продукции] там, где это допустимо, либо используем биоразлагаемую упаковку.
			
				.item
					img(src="img/assets/icons/i-eco-separate.svg", alt="footnote icon")
					p Мы поддерживаем #[span раздельный сбор мусора]
			
				.item
					img(src="img/assets/icons/i-eco-local.svg", alt="footnote icon")
					p Мы выбираем #[span местных производителей*]
					p.reference *Например, современную натуральную косметику от московского бренда Pure Love