main.site-main
	section.main-content-location
		.location-map
			img(src="img/map.jpg", alt="map")

		.location-lists
			.lists-item
				.header
					h2 Гастрономические рестораны и бары
					.list-check
						img(src="img/assets/icons/list-check.svg", alt="check icon")
				ol
					li
						a(href="#") 1. White rabbit
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 2. Twins garden
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 3. Dr. Живаго
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 4. Uhvat
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 5. Простые вещи
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 6. Москва-Дели
						img(src="//placeholder.pics/svg/320", alt="#")
			
			.lists-item
				.header
					h2 Стрит-фуд <br> и маркеты
					.list-check
						img(src="img/assets/icons/list-check.svg", alt="check icon")
				ol
					li
						a(href="#") 1. Дорогомиловский рынок
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 2. Даниловский рынок
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 3. Центральный рынок
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 4. Депо
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 5. Lao Lee
						img(src="//placeholder.pics/svg/320", alt="#")
			
			.lists-item
				.header
					h2 Кафе и рестораны
					.list-check
						img(src="img/assets/icons/list-check.svg", alt="check icon")
				ol
					li
						a(href="#") 1. Sempre
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 2. Zotman Pizza Pie
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 3. Delicatessen
						img(src="//placeholder.pics/svg/320", alt="#")

			.lists-item
				.header
					h2 Кофе
					.list-check
						img(src="img/assets/icons/list-check.svg", alt="check icon")
				ol
					li
						a(href="#") 1. Кофемания
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 2. Surf coffee
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 3. ABC Coffe Roasters
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 4. Даблби
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 5. Camera Obscura
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 6. Человек и Пароход
						img(src="//placeholder.pics/svg/320", alt="#")

			.lists-item
				.header
					h2 Бары
					.list-check
						img(src="img/assets/icons/list-check.svg", alt="check icon")
				ol
					li
						a(href="#") 1. Колокол
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 2. Hydra
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 3. Leveldva
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 4. Дом 12
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 5. Bambule
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 6. Винный базар
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 7. Стрелка
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 8. Noor
						img(src="//placeholder.pics/svg/320", alt="#")
			
			.lists-item
				.header
					h2 Музеи
					.list-check
						img(src="img/assets/icons/list-check.svg", alt="check icon")
				ol
					li
						a(href="#") 1. Гараж
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 2. MMOMA
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 3. Еврейский музей и центр толерантности
						img(src="//placeholder.pics/svg/320", alt="#")

			.lists-item
				.header
					h2 Магазины и торговые центры
					.list-check
						img(src="img/assets/icons/list-check.svg", alt="check icon")
				ol
					li
						a(href="#") 1. Весна
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 2. Цветной
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 3. Хлебозавод
						img(src="//placeholder.pics/svg/320", alt="#")
					li
						a(href="#") 4. КМ20
						img(src="//placeholder.pics/svg/320", alt="#")
		