main.site-main-services
	section.main-content-services
		#services-accordion
			.accordion-item
				.header
					h3 Ресепшн и консьерж
				.description
					p.
						Интуитивный сервис с индивидуальным подходом к каждому гостю. К вашим услугам 24/7, всегда на связи. Обращайтесь к нам на стойку в холле 20-го этажа, по телефону, через мессенджер или с помощью интерактивного ТВ у вас в номере.
			
			.accordion-item
				.header
					h3 Завтраки
				.description
					p.
						Завтрак шведский стол подаётся в дружественном нам ресторане Penta, расположенном на втором этаже здания. Стоимость 1500 рублей.

			.accordion-item
				.header
					h3 Проживание с питомцем
				.description
					p.
						Возможно проживание с домашними животными весом до 10 кг. Мы предоставим миску, лежак и комплимент-угощение. При заезде мы заблокируем 3000 руб на вашей карте в качестве страхового депозита. Его мы используем в случае, если после вашего отъезда понадобится провести химчистку номера. Пожалуйста, предупредите службу размещения, если вы приезжаете к нам с животным. В противном случае у нас может не быть возможности разместить вашего четвероногого друга.

			.accordion-item
				.header
					h3 Стирка и глажка
				.description
					p.
						В каждом апартаменте есть гладильные принадлежности. В стоимость вашего прожилвания включена стирка одежды один раз в неделю (до 5 кг). Дополнительная стирка облачивается отдельно.

			.accordion-item
				.header
					h3 Парковка и стоянка
				.description
					p.
						Городская парковка действует перед нашим зданием на улице Новый Арбат (с 8:00 до 0:00 – 300 руб./час; С 0:00 до 8:00 – 100 руб./час) и с обратной стороны здания в Серебряном и близлежащих переулках (с 8:00 до 21:00 – 380 руб./час; С 21:00 до 8:00 – 200 руб./час). Кроме того, у нас есть одно машиноместо в подземном паркинге. Пожалуйста, заранее свяжитесь со службой размещения, чтобы его забронировать.

					p.
						Будьте внимательны, остановка такси и автомобилей для высадки и посадки пассажиров на ул. Новый Арбат разрешена не более, чем на 10 секунд. Сообщите нам о времени вашего прибытия или отъезда, и мы поможем вам с багажом.

			.accordion-item
				.header
					h3 Приветственный набор
				.description
					p.
						Мы поддерживаем местных производителей и хотим познакомить вас с лучшими из них. Для этого мы подобрали набор снеков и напитков, которые производят небольшие московские компании. При заселении в апартаменты, на кухне вас уже будет ждать здоровый перекус, чай, кофе, сахар, а так же соль, специи и растительное масло для готовки.
			
		aside.services-aside
			picture.top
				img(src="img/services-1.jpg", alt="room preview")

			picture.bot
				img(src="img/services-2.jpg", alt="room preview")

			.services-aside-btn
				button.btn Найти номер